# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# ==============================
# TypeScript
# ==============================
*.tsbuildinfo

# ==============================
# Build output
# ==============================
# These directory are created by `build` script

dist/

# ==============================
# Generated package files
# ==============================
# These files are created by `package` script by default and should not be committed.
# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
/main.js
/styles.css

# ==============================

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
